In [1]:
# Q1
print('''Twinkle, twinkle, little star
                  How I wonder what you are
                        Up above the world so high
                        Like a diamond in the sky
Twinkle, twinkle, little star
         How I wonder what you are''')

Twinkle, twinkle, little star
                  How I wonder what you are
                        Up above the world so high
                        Like a diamond in the sky
Twinkle, twinkle, little star
         How I wonder what you are

In [2]:
#Q2
import sys

print ("Python version :", sys.version)

Python version : 3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

In [9]:
from datetime import datetime
print("Date,Time:",datetime.now())

Date,Time: 2021-12-31 10:58:32.621786

In [19]:
#Q4
r= float(input("Enter the radius Value="))
area=3.14*(r*2) 
print(" Area of Cicle=", area)

Enter the radius Value=3.2
 Area of Cicle= 20.096000000000004

In [25]:
# Q5
first= input("Enter first name= ")
last= input("Enter last name=")
print(first,last)
print(last,first)

Enter first name= Talha
Enter last name=Usmani
Talha Usmani
Usmani Talha

In [29]:
# Q6
a=int(input("Enter first number="))
b=int(input("Enter Second number="))
add=a+b 
print("sum=",add)

Enter first number=10
Enter Second number=20
sum= 30